<div class="container">
    <% if (playlist.length > 0) { 
        let index = 0
    %>
    <% for (let list of playlist) { %>
    <div class="row cant d-flex justify-content-center align-items-center playlist">
        <div class="col-md-6">
            <div class="border-0 card">
                <div class="d-flex title_wrap">
                    <input type="text" class="form-control title" value="<%-list.title%>" maxlength="20">
                    <button class="form-control w-25 title_update" data-playlist="<%-list.id%>">수정</button>    
                </div>
                <img src="<%-list.firstThumbnail%>" loading="lazy">
                <iframe class="play_frame"
                    src="https://www.youtube.com/embed/<%-list.first_music%>?enablejsapi=1&version=3&playerapiid=ytplayer"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                <button class="mt-4 btn btn-danger btn-block text-uppercase playlist-delete"
                    data-playlist-id="<%=list.id%>">플레이리스트 삭제</button>

            </div>

        </div>
        <div class="col-md-6">
            <div class="border-0 card">
                <div class="d-flex justify-content-center align-items-center p-3 music">
                    <div class="d-flex flex-column">
                        <% if (typeof list.musicList !== "undefined") { %>
                        <div class="p-4 text-white playlist-title">
                            PLAYLIST
                        </div>
                        <ul class="list-group music-list" data-playlist="<%=list.id%>">
                            <% for (let music of list.musicList) { %>
                            <%
                                    let hour = Math.floor(music.length/3600)
                                    let min = Math.floor((music.length - hour * 3600)/60)
                                    let sec = Math.floor((music.length - ((hour * 3600) + (min * 60)))) -1
                                %>
                            <li class="list-group-item play d-flex justify-content-between align-items-center"
                                data-youtube="<%=music.youtube_link%>" data-music-index="<%=music.id%>"
                                data-sec="<%=music.length%>"
                                data-thumbnail="<%=music.thumbnail%>" style="cursor:pointer;" aria-current="true">
                                <div>
                                    <%=music.title%>
                                    <small class="text-muted">
                                        <%=(hour < 10) ? "0"+hour : hour%>:<%=(min < 10 ) ? "0"+min : min%>:<%=(sec < 10 ) ? "0"+sec : sec%>
                                    </small> 
                                    <button class="btn btn-sm delete ml-auto"
                                    data-music-index="<%=music.id%>" style="vertical-align:middle;">X</button>   
                                </div>
                                <div>
                                    <i class="fa-solid fa-bars"></i>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                        <% } else { %>
                        <ul class="list-group">
                            등록된 음악이 없습니다.
                        </ul>
                        <% } %>
                    </div>
                </div>
                <div class="search_type_wrap d-flex justify-content-center gap-3">
                    <div class="form-check">
                        <input class="form-check-input searchType" type="radio" name="search_type<%-index%>" id="search_type<%-index%>" value="title" checked>
                        <label class="form-check-label" for="title">
                        제목
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input searchType" type="radio" name="search_type<%-index%>" id="search_type<%-index%>" value="url">
                        <label class="form-check-label" for="url">
                        URL
                        </label>
                    </div>
                </div>
                <div class="search_form_wrap">
                    <div class="searchTitle">
                        <input type="text" class="form-control youtubeTitle" id="youtubeTitle" aria-describedby="basic-addon3"
                            placeholder="유튜브 제목 전체를 입력해주세요">
                        <button class="form-control mt-4 btn btn-success btn-block text-uppercase search" data-frame-index="<%=index%>"
                            data-playlist="<%=list.id%>">SEARCH
                        </button>
            
                    </div>
                    <div class="searchUrl d-none">
                        <input type="url" class="form-control youtubeLink" id="youtubeLink" aria-describedby="basic-addon3"
                            placeholder="유튜브 URL 전체를 입력해주세요">
                        <button class="form-control mt-4 btn btn-success btn-block text-uppercase add" data-frame-index="<%=index%>"
                            data-playlist="<%=list.id%>">ADD
                        </button>
        
                    </div>
                </div>

                <div class="d-flex search_result d-none mt-4">
                    <ul class="list-group" data-playlist="<%-list.id%>">
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <%  index++
        } %>
    <% } else { %>
    플레이리스트가 없습니다.
    <% } %>
    <a href="/playlist/create"><button class="mt-4 btn btn-success btn-block text-uppercase">플레이리스트 등록</button></a>

    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
</div>
<script src="/javascripts/playlist/index.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>