<% let musicIndex = 0 %>
<div class="container">
    <div class="row cant d-flex justify-content-center playlist">
        <div class="col-sm-8">
            <div style="" class="card border-0">
                <div class="d-flex justify-content-between mb-4">
                    <span class="h4 playlist_title">
                        <%=userPlaylist.title%>
                    </span>
                    <div class="wrap">
                        <button type="button"
                            class="btn <%=(userPlaylist.likeYn === true) ? 'btn-primary' : 'btn-light' %> align-self-end like"
                            data-like="<%-userPlaylist.like%>" data-playlist-index="<%-userPlaylist.id%>">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span class="likeCount">
                                <%=userPlaylist.like%>
                            </span>
                        </button>
                        <button class="btn btn-light align-self-end">
                            <i class="fa-solid fa-comment"></i>
                            <span class="commentCount"><%=userPlaylist.commentCount%></span>    
                        </button>
                    </div>
                </div>
                <img src="<%-userPlaylist.firstThumbnail%>" class="thumbnail" id="thumbnail<%-userPlaylist.id%>">
                <iframe class="play_frame1 play_frame<%-userPlaylist.id%>"
                    src="https://www.youtube.com/embed/<%-userPlaylist.first_music%>?enablejsapi=1&version=3&playerapiid=ytplayer"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                <input type="range" class="form-range volume" value="100" data-playlistId="<%-userPlaylist.id%>" min="0" max="100" step="1" id="customRange1" disabled>
                <input type="hidden" class="nowPlaying" id="nowPlaying<%-userPlaylist.id%>"value="">
        
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card border-0">
                <div class="d-flex justify-content-center align-items-center mb-3 music">
                    <div class="d-flex flex-column align-items-center">
                        <% if (typeof userPlaylist.musicList !== "undefined") { %>
                        <ul class="list-group mw-100" data-playlist="<%=userPlaylist.id%>">
                            <% for (let music of userPlaylist.musicList) { %>
                            <%
                                    let hour = Math.floor(music.length/3600)
                                    let min = Math.floor((music.length - hour * 3600)/60)
                                    let sec = Math.floor((music.length - ((hour * 3600) + (min * 60)))) -1
                                %>
                            <li class="list-group-item play <%=(musicIndex > 4) ? "hide d-none" : ""%>"
                                data-youtube="<%=music.youtube_link%>" data-music-index="<%=musicIndex%>"
                                data-playlist-index="<%-userPlaylist.id%>" data-sec="<%=music.length%>"
                                data-thumbnail="<%=music.thumbnail%>" style="cursor:pointer;" aria-current="true">
                                <span class="music_title mb-1"><%=music.title%></span>
                                <div class="h6">
                                    <%=(hour < 10) ? "0"+hour : hour%>:<%=(min < 10 ) ? "0"+min : min%>:<%=(sec < 10 ) ? "0"+sec : sec%>
                                </div>
                            </li>
                            <% 
                                    musicIndex++
                                    } 
                                %>
                            <button class="mt-4 btn btn-primary btn-lg btn-block more">SHOW MORE</button>
                        </ul>
                        <% } else { %>
                        <ul class="list-group">
                            등록된 음악이 없습니다.
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="p-5 card">
                <h3>COMMENT</h3>
                <%
                if (userPlaylist.commentList) { 
                let commentIndex = 0
                for (let comment of userPlaylist.commentList) { 
                %>
                <div class="comment_wrap shadow mt-3 <%-(commentIndex > 5) ? 'd-none hide' : '' %> ">
                    <div class="d-flex border flex-column border-light p-4">
                        <div class="comment mb-3">
                            <%=comment.comment%>
                        </div>
                        <div class="comment_info d-flex justify-content-between">
                            <span class="author"><%=comment.user_id%></span>
                            <span class="date"><%=moment(comment.createdAt).format("YYYY-MM-DD")%></span>
                        </div>
                    </div>
                </div>
                <% 
                    commentIndex++
                    } 
                %>
                <button class="mt-4 btn btn-primary btn-lg btn-block more">SHOW MORE</button>
                <% } %>

                <% if (user_session.is_login === true) { %>
                    <input type="text" id="comment" name="comment" class="form-control mt-4"
                        data-playlist="<%-userPlaylist.id%>">
                <% } %>
            </div>

        </div>

    </div>

    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
</div>
<script src="/javascripts/playlist/view.js"></script>
<script src="/javascripts/playlist/index.js"></script>
<script src="/javascripts/index.js"></script>